.breastContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px auto;
  max-width: 1200px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  flex: 1;
  margin-right: 20px;
}

.breastImage {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

.info {
  flex: 1;
  padding-left: 20px;
}

.info h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.info ul {
  list-style-type: none;
  padding: 0;
}

.info ul li {
  margin-bottom: 10px;
}

.info ul li a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.info ul li a:hover {
  color: #0056b3;
}
