.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.doctorProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Збільшуємо ширину для кращого вигляду */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctorProfile h1 {
  color: #0e141a;
}
.image {
  flex: 1; /* Займає 50% ширини секції */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%; /* Зображення займає всю доступну ширину */
  height: auto;
  border-radius: 10px;
}

.info {
  flex: 1; /* Займає 50% ширини секції */
  padding-left: 20px;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}
.container {
  padding: 20px;
}

.doctorProfile {
  display: flex;
  justify-content: space-between;
}

.image {
  flex: 1;
}

.info {
  flex: 1;
  padding-left: 20px;
}

.breastSurgery {
  margin-top: 50px;
}
