.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 60px;
  margin-top: 60px;
  background-color: #f1f5f9; /* Легкий фон */
}

.doctorProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Тінь */
  margin: 0 auto;
  gap: 20px;
}

.doctorProfile h1 {
  color: #d35400;
  font-size: 2.5rem;
  margin: 10px 0;
}
.image {
  flex: 1; /* Займає 50% ширини секції */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
  flex: 1; /* Займає 50% ширини секції */
  padding-left: 20px;
}

.info h2 {
  color: #c1a404;
  font-size: 2rem;
  margin-bottom: 15px;
}

.info p {
  color: #3d3d3d;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.info li {
  color: #4a4a4a;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0;
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .doctorProfile {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .info {
    padding: 0;
  }

  .info h1,
  .info h2,
  .info p,
  .info li,
  .button {
    font-size: 1.2rem; /* Зменшення розміру тексту для мобільних */
  }

  .button {
    padding: 8px 20px;
  }
}

/* .container {
  padding: 20px;
} */

/* .doctorProfile {
  display: flex;
  justify-content: space-between;
} */

/* .image {
  flex: 1;
} */

/* .info {
  flex: 1;
  padding-left: 20px;
} */

/* .breastSurgery {
  margin-top: 50px;
} */

/* @media (max-width: 768px) {
  .doctorProfile {
    flex-direction: column; 
  }
} */
