/* Загальний контейнер для секції */
.abdominoplasty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Відстань між текстом і зображенням */
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(245, 242, 240);
}

/* Контейнер для тексту та зображення */
.abdominolInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

/* Ліва частина - текст */
.abdominoList {
  flex: 1; /* Займає 50% ширини */
  padding: 20px;
  text-align: left;
}

/* Стилізація для абзаців */
.abdominoList p {
  font-size: 1.2em; /* Збільшуємо розмір шрифту */
  line-height: 1.6; /* Збільшуємо відстань між рядками */
  margin-bottom: 20px; /* Відступ між абзацами */
}

/* Права частина - зображення */
.abdominoImage {
  flex: 1; /* Займає 50% ширини */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Стилізація для зображення */
.abdominoImage img {
  max-width: 100%; /* Зображення адаптується до ширини контейнера */
  height: auto;
}

.abdominoImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

/* Стилізація для заголовка */
.abdominoplastyc h1 {
  text-align: center; /* Центруємо заголовок */
  font-size: 2em;
  margin-bottom: 20px;
}

/* Консультації */
/* Підготовка до операції */

.consultationTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 60px;
  color: #333;
}

.abdominoConsultation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.abdominoInfo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.abdominoImage {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  justify-content: center;
  gap: 30px; /* Відстань між зображеннями */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.abdominoImage {
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.abdominoList {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.abdominoList h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
}

.abdominoList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.abdominoList li {
  margin-bottom: 10px;
}

/* Підготовка до операції */

.preparationTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #333;
}

.abdominoPreparation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* .preparationInfo {
  display: flex;
  align-items: center;
  gap: 40px;
} */

/* .preparationList {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
} */

/* .preparationList h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
} */

/* .preparationList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
} */

/* .preparationList li {
  margin-bottom: 10px;
} */

/* .preparationImage {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* .preparationImage img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
} */

/* операція */
.operationTitle {
  text-align: center;
  font-size: 2.5rem;
  color: #0f0f0f;
  margin: 60px 0 40px 0; /* Відступ зверху і знизу */
}

.operationSection {
  display: flex;
  justify-content: space-between;
  gap: 30px; /* Відстань між зображеннями і текстом */
  background-color: #f5f5f5; /* Загальний фон секції */
  padding: 40px; /* Внутрішні відступи для секції */
  border-radius: 15px; /* Округлені кути для стилізації */
  margin-bottom: 60px; /* Відступ від секції знизу */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.operationInfo {
  display: flex;
  flex: 1;
  gap: 30px; /* Відстань між колонками */
}

.operationImages {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Проміжок між зображеннями */
  flex: 0.5; /* Займає половину ширини секції */
}

.operationImage {
  border-radius: 10px;
  object-fit: cover;
  width: 100%; /* Зображення займає всю ширину контейнера */
  height: auto; /* Автоматичне визначення висоти */
  transition: transform 0.3s ease-in-out;
}

.operationImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

.operationMethod {
  flex: 1;
  line-height: 1.8;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.operationMethod p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.operationMethod h3 {
  font-size: 1.5rem;
  color: #007bff; /* Сині заголовки */
  margin-bottom: 10px;
}

.operationMethod h4 {
  font-size: 1.3rem;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .operationSection {
    flex-direction: column;
    padding: 20px;
  }

  .operationImages {
    width: 100%;
  }

  .operationTitle {
    margin: 40px 0; /* Менший відступ для мобільних пристроїв */
  }
}
/* Реабілітація після операції */

.rehabilTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #333;
}

.abdominoRehabilitation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rehabilInfo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.rehabilList {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.rehabilList strong {
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.rehabilList h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #444;
}

.rehabilList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.rehabilList li {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.rehabilImage {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  justify-content: center;
  gap: 20px; /* Відстань між зображеннями */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rehabilImage img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.rehabilImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

/* результат операції */

.resultsTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px; /* Відступ перед секцією */
  margin-top: 60px; /* Відступ після попередньої секції */
  color: #333; /* Гарний темний колір для заголовка */
}

.abdominoResults {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9; /* Легкий фон для всієї секції */
  border-radius: 10px;
  margin-bottom: 60px;
}

.resultsInfo {
  flex: 1;
  padding-left: 40px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.resultsImage {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  justify-content: center;
  gap: 30px; /* Відстань між зображеннями */
  align-items: center;
  padding-right: 40px;
}

.resultsImage img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для зображення */
}

.resultsImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

/* результат після операції */

.resultTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #333;
}

.resultOperation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.resultInfo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.resultList {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.resultList strong {
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.resultList h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #444;
}

.resultList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.resultList li {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.resultImage {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  justify-content: center;
  gap: 30px; /* Відстань між зображеннями */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resultImage img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.resultImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}
