/* Загальний контейнер для секції */
.hernioPlast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Відстань між текстом і зображенням */
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(245, 242, 240);
}

/* Контейнер для тексту та зображення */
.herniolInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

/* Ліва частина - текст */
.hernioList {
  flex: 1; /* Займає 50% ширини */
  padding: 20px;
  text-align: left;
}

/* Стилізація для абзаців */
.hernioList p {
  font-size: 1.2em; /* Збільшуємо розмір шрифту */
  line-height: 1.6; /* Збільшуємо відстань між рядками */
  margin-bottom: 20px; /* Відступ між абзацами */
}

/* Права частина - зображення */
.hernioImage {
  flex: 1; /* Займає 50% ширини */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Стилізація для зображення */
.hernioImage img {
  max-width: 100%; /* Зображення адаптується до ширини контейнера */
  height: auto;
}

.hernioImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

/* Стилізація для заголовка */
.hernio h1 {
  text-align: center; /* Центруємо заголовок */
  font-size: 2em;
  margin-bottom: 20px;
}
/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .herniolInfo {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

/* Консультації */
/* Підготовка до операції */

.consultationTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 60px;
  color: #333;
}

.hernioConsultation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hernioInfo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hernioImage {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  justify-content: center;
  gap: 20px; /* Відстань між зображеннями */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hernioImage {
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hernioList {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.hernioList h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
}

.hernioList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.hernioList li {
  margin-bottom: 10px;
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .hernioInfo {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

/* Підготовка до операції */

.preparationTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #333;
}

.hernioPreparation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .hernioInfo {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

/* операція */
.operationTitle {
  text-align: center;
  font-size: 2.5rem;
  color: #0f0f0f;
  margin: 60px 0 40px 0; /* Відступ зверху і знизу */
}

.operationSection {
  display: flex;
  justify-content: space-between;
  gap: 40px; /* Відстань між зображеннями і текстом */
  background-color: #f5f5f5; /* Загальний фон секції */
  padding: 40px; /* Внутрішні відступи для секції */
  border-radius: 15px; /* Округлені кути для стилізації */
  margin-bottom: 60px; /* Відступ від секції знизу */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.operationInfo {
  display: flex;
  flex: 1;
  gap: 30px; /* Відстань між колонками */
}

.operationImages {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Проміжок між зображеннями */
  flex: 0.5; /* Займає половину ширини секції */
}

.operationImage {
  border-radius: 10px;
  object-fit: cover;
  width: 100%; /* Зображення займає всю ширину контейнера */
  height: auto; /* Автоматичне визначення висоти */
  transition: transform 0.3s ease-in-out;
}

.operationImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

.operationMethod {
  flex: 1;
  line-height: 1.8;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.operationMethod p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.operationMethod h3 {
  font-size: 1.5rem;
  color: #007bff; /* Сині заголовки */
  margin-bottom: 10px;
}

.operationMethod h4 {
  font-size: 1rem;
  color: #09ad77;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* @media (max-width: 768px) {
  .operationSection {
    flex-direction: column;
    padding: 20px;
  }

  .operationImages {
    width: 100%;
  }

  .operationTitle {
    margin: 40px 0; 
  }
} */

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .operationInfo {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

/* Реабілітація після операції */

.rehabilTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #333;
}

.hernioRehabilitation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rehabilInfo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.rehabilList {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.rehabilList strong {
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding-bottom: 30px;
  color: #099215; /* Сині заголовки */
}

.rehabilList h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding-top: 20px;
  color: #444;
}

.rehabilList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.rehabilList li {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.rehabilImage {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальне вирівнювання */
  justify-content: center;
  gap: 20px; /* Відстань між зображеннями */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rehabilImage img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.rehabilImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .rehabilInfo {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

/* Імпланти */

.implantsTitle {
  text-align: center; /* Заголовок по центру */
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 50px;
  color: #333;
}

.implantsSection {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px; /* Внутрішні відступи для секції */
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 60px; /* Відступ від секції знизу */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.implantsImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.implantsImage img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.implantsImage:hover {
  transform: scale(1.05); /* Ефект збільшення при наведенні */
}

.implantsInfo {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вирівнює елементи в колонку */
  justify-content: flex-start; /* Вирівнює елементи по верхній частині */
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}

.implantsInfo h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #444;
}

.implantsInfo p {
  font-size: 1.4rem;
  line-height: 1.6;
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .implantsSection {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}
